<div class="eight columns <%= index == 0 ? 'alpha' : 'omega' %>">
  <div class="item-box ad-post clearfix">
    <div class="links">
      <div class="padding">
        <a href="<%= ad_post_path(ad_post.slug_with_id) %>">
        <% if !ad_post.image.blank? %>
          <%= image_tag ad_post.image.url(:thumb), :class => "scale-with-grid", :width => 160, :height => 120 %>
        <% else %>
          <%= image_tag 'home/main-encans-babillard-thumbnails-pas-disponible.jpg', :class => "scale-with-grid", :width => 160, :height => 120 %>
        <% end %>
        </a>
        <ul class="quick-links">
          <li><%= link_to "En savoir plus", ad_post_path(ad_post.slug_with_id), :class => "icon-glass" %></li>
        </ul>
      </div>
    </div>
    <div class="info">
      <div class="padding">
        <h1><%= link_to ad_post.title, ad_post_path(ad_post.slug_with_id) %></a></h1>
        <%= markdown(ad_post.short_description) %>
      </div>
    </div>
  </div>
</div>
