<div class="eight columns <%= index == 0 ? 'alpha' : 'omega' %>">
  <div class="item-box auction clearfix">
    <div class="links">
      <div class="padding">
        <a href="<%= auction_path(auction.slug_with_id) %>">
        <% if !auction.image.blank? %>
          <%= image_tag auction.image.url(:thumb), :class => "scale-with-grid", :width => 160, :height => 120 %>
        <% else %>
          <%= image_tag 'home/main-encans-babillard-thumbnails-pas-disponible.jpg', :class => "scale-with-grid", :width => 160, :height => 120 %>
        <% end %>
        </a>
        <ul class="quick-links">
          <li><%= link_to "En savoir plus", auction_path(auction.slug_with_id), :class => "icon-glass" %></li>
          <% unless auction.pdf.blank? %>
            <li><%= link_to "Circulaire de l’encan", auction.pdf.url, :class => "icon-pdf" %></li>
          <% end %>
          <% unless auction.catalog.blank? %>
            <li><%= link_to "Catalogue", auction.catalog.url, :class => "icon-pdf" %></li>
          <% end %>
          <% if auction.geocoded? %>
            <li><%= link_to "Voir sur la carte", auction.google_map, :class => "icon-map" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="info">
      <div class="time">
        <time datetime="<%=auction.date%>"><%= l(auction.date, :format => :long) %> <%= auction.start_time %></time>
      </div>
      <div class="padding">
        <h1><%= link_to auction.title, auction_path(auction.slug_with_id) %></a></h1>
        <%= markdown(auction.short_description) %>
        <p><%= auction.address %></p>
      </div>
    </div>
  </div>
</div>
