<% content_for :open_graph do %>
  <meta property="og:url" content="<%= root_url %>"/>
  <meta property="og:type" content="company"/>
  <meta property="og:title" content="Encans Daniel Paul-Hus | Encanteur bilingue spécialisé dans l'industrie agricole"/>
  <meta property="og:site_name" content="Encans Daniel Paul-Hus"/>
  <meta property="og:description" content="Daniel Paul-Hus est un encanteur bilingue spécialisé dans le milieu agricole depuis plus de 40 ans. Acheteur de fermes complètes, troupeaux et roulants de ferme."/>
  <meta property="og:image" content="<%= "http://#{request.host}#{image_path('star.png')}" %>"/>
<% end %>
<% content_for(:body_classes) { 'home-page' } %>
<% page_description "Daniel Paul-Hus est un encanteur bilingue spécialisé dans le milieu agricole depuis plus de 40 ans. Acheteur de fermes complètes, troupeaux et roulants de ferme." %>

<div class='slideshow sixteen columns'>
  <div id="home_slideshow">
    <div><%= image_tag 'home/homepage-slider-1.jpg', width: 940, height: 400 %></div>
    <div><%= image_tag 'home/homepage-slider-2.jpg', width: 940, height: 400 %></div>
    <div><%= image_tag 'home/homepage-slider-3.jpg', width: 940, height: 400 %></div>
  </div>
</div>

<%= render :partial=> 'partials/newsletter_promo' %>
<div class="sixteen columns clearfix">
  <hr class="hr"/>
</div>

<div class="sixteen columns">
  <h1>Prochains encans <span>/</span> <%= link_to "Voir tous les encans", auctions_path %></h1>

  <% @auctions.each_slice(2) do |row| %>
    <div class="row">
      <% if row.size == 2 %>
        <%= render :partial => 'homepage/auction', :locals => { :auction => row[0], :index => 0 } %>
        <%= render :partial => 'homepage/auction', :locals => { :auction => row[1], :index => 1 } %>
      <% else %>
        <%= render :partial => 'homepage/auction', :locals => { :auction => row[0], :index => 0 } %>
      <% end %>
    </div>
  <% end %>

  <h1>À vendre sur le babillard <span>/</span> <%= link_to "Voir tout le babillard", ad_posts_path %></h1>

  <% @ads.each_slice(2) do |row| %>
    <div class="row">
      <% if row.size == 2 %>
        <%= render :partial => 'ad_post', locals: {ad_post: row[0], :index => 0 } %>
        <%= render :partial => 'ad_post', locals: {ad_post: row[1], :index => 1 } %>
      <% else %>
        <%= render :partial => 'ad_post', locals: {ad_post: row[0], :index => 1 } %>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for :javascripts do %>
  <script>
    $(function() {
      $('#home_slideshow').slick({
        infinite: true,
        autoplay: true
      });
    });
  </script>
<% end %>
