<h1>Post a status update to Twitter and Facebook</h1>

<%= form_for [:admin, @object, @status], :html => {:role => 'role'} do |f| %>
  <div class="form-group">
    <%= f.hidden_field :link %>
    <%= f.label :status, :class => 'control-label' %>
    <%= f.text_area :status, :class => 'form-control', :rows => 5 %>
  </div>

  <div class="form-group">
    <%= f.submit "Post", :class => "btn btn-primary" %>
  </div>
<% end %>