.about-page {
  .box {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    img.signature {
      float: right;
      padding: 20px 0;
    }
  }

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #c40f0f;
    font-size: 27px;
    font-weight: 200;
  }

  .services {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    ul {
      margin-top: 25px;
      li {
        list-style-image: image-url('about/about-icon-bulletpoint.png');
        margin-bottom: 40px;
      }
    }
  }

  .team {
    margin-top: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    h3 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }

    ul li {
      border-top: 1px solid #cecece;
      padding: 12px 0 12px 12px;
      margin: 0;
    }
  }
}