.contact-page {
  .box {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    margin-bottom: 25px;
    .padding {
      padding: 35px;
    }
    img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  form.new_contact_message {
    input[type=submit], input[type=submit]:hover, input[type=submit]:active {
      background: image-url('contact/contact-button-send.jpg') 0 0 no-repeat;
      text-indent: -9999px;
      width: 113px;
      height: 28px;
      border: 0;
    }
    textarea {
      width: 390px;
    }
  }
}