<% page_title "Nous contacter" %>
<% page_description "Toutes les informations nécessaires pour nous contacter." %>
<% content_for(:body_classes) { 'contact-page' } %>
<% content_for :open_graph do %>
  <meta property="og:url" content="<%= new_contact_message_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Nous contacter" />
  <meta property="og:site_name" content="Encans Daniel Paul-Hus" />
  <meta property="og:description" content="Toutes les informations nécessaires pour nous contacter." />
  <meta property="og:image" content="<%= "http://#{request.host}#{image_path('star.png')}" %>"/>
<% end %>

<h1>Nous contacter</h1>

<div class="sixteen columns clearfix">
  <div class="box clearfix no-top-padding">
    <%= image_tag 'contact/contact-header.jpg' %>
    <div class="padding">
      <% if flash[:notice] %>
        <p>Votre message a été envoyé.</p>
      <% else %>
        <%= form_for @message, :url => contact_messages_path do |f| %>
          <div class="six columns offset-by-one alpha">
            <p>
              <%= f.label :name, 'Nom' %>
              <%= f.text_field :name, :style => "width: 400px" %>
            </p>

            <p>
              <%= f.label :email, 'Courriel' %>
              <%= f.email_field :email, :style => "width: 400px" %>
            </p>
          </div>
          <div class="seven columns omega">
            <p>
              <%= f.label :message %>
              <%= f.text_area :message, :rows => 10 %>
            </p>

            <p style="text-align: right">
              <%= f.submit 'Send' %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="sixteen columns clearfix">
  <hr class="hr"/>
</div>
<%= render :partial=> 'partials/newsletter_promo' %>