<% page_title "Nos encans" %>
<% content_for(:body_classes) { "auctions-page" } %>
<% page_description "La liste de tous nos encans à venir. Consultez-la souvent!" %>
<% content_for :open_graph do %>
  <meta property="og:url" content="<%= auctions_url %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Nos encans"/>
  <meta property="og:site_name" content="Encans Daniel Paul-Hus"/>
  <meta property="og:description" content="La liste de tous nos encans à venir. Consultez-là souvent!" />
  <meta property="og:image" content="<%= "http://#{request.host}#{image_path('star.png')}" %>"/>
<% end %>

<div class="sixteen columns">
  <h1>Nos encans</h1>
</div>

<div class="sixteen columns">
  <% @auctions.each_slice(2) do |row| %>
    <div class="row clearfix">
      <% if row.size == 2 %>
        <%= render :partial => 'homepage/auction', :locals => { :auction => row[0], :index => 0 } %>
        <%= render :partial => 'homepage/auction', :locals => { :auction => row[1], :index => 1 } %>
      <% else %>
        <%= render :partial => 'homepage/auction', :locals => { :auction => row[0], :index => 0 } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="sixteen columns clearfix">
  <hr class="hr"/>
</div>
<%= render :partial=> 'partials/newsletter_promo' %>
