<% page_title @auction.title %>
<% content_for :open_graph do %>
  <meta property="og:url" content="<%= auction_url(@auction.slug_with_id) %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="<%= @auction.title %>"/>
  <meta property="og:site_name" content="Encans Daniel Paul-Hus"/>
  <% if @auction.image? %>
    <meta property="og:image" content="<%= "http://#{request.host}#{@auction.image.url(:thumb)}" %>"/>
  <% end %>
  <% unless @auction.short_description.blank? %>
    <meta property="og:description" content="<%= @auction.short_description %>" />
  <% end %>
<% end %>
<% page_description @auction.short_description %>

<div class="sixteen columns">
  <h1>Nos encans</h1>
</div>

<div class="ten columns">
  <div class="box clearfix">
    <div class="eight columns alpha omega offset-by-one">
      <table class="auction-info">
        <tr>
          <th>Encan</th>
          <td><%= @auction.title %></td>
        </tr>
        <tr>
          <th>Quand?</th>
          <td><%= l(@auction.date, :format => :long) %> <%= @auction.start_time %></td>
        </tr>
        <tr>
          <th>Où?</th>
          <td><%= @auction.address %></td>
        </tr>
      </table>

      <% unless @auction.body.blank? %>
        <%= markdown(@auction.body) %>
      <% end %>

      <% if @auction.pdf_url %>
        <p><%= link_to "Cliquez ici pour voir une description complète de l’encan", @auction.pdf.url %></p>
      <% end %>
      <% if @auction.catalog_url %>
        <p><%= link_to "Cliquez ici pour voir le catalogue", @auction.catalog.url %></p>
      <% end %>

      <% unless @auction.images.empty? %>
        <div id="slider">
          <% @auction.images.each do |image| %>
            <%= image_tag image.file.url(:scaled), "data-caption" => "#caption-#{image.id}", :class => "scale-with-grid" %>
          <% end %>
        </div>

        <% @auction.images.each do |image| %>
          <span class="orbit-caption" id="caption-<%= image.id %>">
            <a href="<%= image.file.url(:big) %>"><%= image.caption %></a>
          </span>
        <% end %>

        <% content_for :javascripts do %>
        <script type="text/javascript">
          $(window).load(function() {
            $('#slider').orbit({
              fluid: '460x345',
              animation: 'horizontal-slide',
              animationSpeed: 400,
              captions: true
            });
          });
        </script>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="five columns omega offset-by-one">
  <% if @auction.catalog_url || @auction.pdf_url %>
  <h2>Téléchargements</h2>
  <ul class="downloads">
    <% if @auction.pdf_url %>
    <li class="circulaire"><%= link_to "Description complète", @auction.pdf.url %></li>
    <% end %>
    <% if @auction.catalog_url %>
    <li class="catalogue"><%= link_to "Catalogue", @auction.catalog.url %></li>
    <% end %>
  </ul>
  <% end %>

  <% if @auction.geocoded? %>
    <h2>Carte</h2>

    <% if @auction.google_maps_url %>
      <iframe src="<%= @auction.google_maps_url %>" style="width:100%;height:250px;border: 1px solid #000"></iframe>
    <% else %>
      <iframe src="<%= @auction.google_map %>&amp;output=embed&amp;z=10" style="width:100%;height:250px;border: 1px solid #000"></iframe>
    <% end %>
    <%= link_to "Voir sur Google", @auction.google_map %>
  <% end %>
</div>
