<div class="newsletter-promo sixteen columns">
  <p>
    <%= link_to "Inscrivez-vous à notre lettre d'information", "http://eepurl.com/kxdA9" %> et nous vous enverrons
    périodiquement par courriel la liste de nos prochains encans.
  </p>
</div>