<% page_title "Babillard" %>
<% page_description "Nous affichons sur notre babillard des petites annonces d'items à vendre." %>
<% content_for :open_graph do %>
  <meta property="og:url" content="<%= ad_posts_url %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Babillard"/>
  <meta property="og:site_name" content="Encans Daniel Paul-Hus"/>
  <meta property="og:description" content="Nous affichons sur notre babillard des petites annonces d'items à vendre." />
  <meta property="og:image" content="<%= "http://#{request.host}#{image_path('star.png')}" %>"/>
<% end %>

<div class="sixteen columns">
  <h1>Babillard</h1>
</div>

<div class="sixteen columns">
  <% @posts.each_slice(2) do |row| %>
    <div class="row">
      <% if row.size == 2 %>
        <%= render :partial => 'homepage/ad_post', :locals => { :ad_post => row[0], :index => 0 } %>
        <%= render :partial => 'homepage/ad_post', :locals => { :ad_post => row[1], :index => 1 } %>
      <% else %>
        <%= render :partial => 'homepage/ad_post', :locals => { :ad_post => row[0], :index => 0 } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="sixteen columns clearfix">
  <hr class="hr"/>
</div>
<%= render :partial=> 'partials/newsletter_promo' %>