<% page_title @post.title %>
<% content_for :open_graph do %>
  <meta property="og:url" content="<%= ad_post_url(@post.slug_with_id) %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="<%= @post.title %>"/>
  <meta property="og:site_name" content="Encans Daniel Paul-Hus"/>
  <% if @post.image? %>
    <meta property="og:image" content="<%= "http://#{request.host}#{@post.image.url(:thumb)}" %>"/>
  <% end %>
  <% unless @post.short_description.blank? %>
    <meta property="og:description" content="<%= @post.short_description %>" />
  <% end %>
<% end %>
<% page_description @post.short_description %>

<div class="sixteen columns">
  <h1>Babillard</h1>
</div>

<div class="ten columns">
  <div class="box clearfix">
    <div class="eight columns alpha omega offset-by-one">
      <table class="auction-info">
        <tr>
          <th>À vendre</th>
          <td><%= @post.title %></td>
        </tr>
      </table>

      <% unless @post.images.empty? %>
        <div id="slider">
          <% @post.images.each do |image| %>
            <%= image_tag image.file.url(:scaled), "data-caption" => "#caption-#{image.id}", :class => "scale-with-grid" %>
          <% end %>
        </div>

        <% @post.images.each do |image| %>
          <span class="orbit-caption" id="caption-<%= image.id %>"><%= image.caption %></span>
        <% end %>

        <% content_for :javascripts do %>
        <script type="text/javascript">
          $(window).load(function() {
            $('#slider').orbit({
              fluid: '460x345',
              animation: 'horizontal-slide',
              animationSpeed: 400,
              captions: true
            });
          });
        </script>
        <% end %>
      <% end %>

      <% unless @post.body.blank? %>
        <%= markdown(@post.body) %>
      <% end %>
    </div>
  </div>
</div>