<fieldset>
  <div class="">
    <div class="form-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :short_description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :short_description, cols: 120, rows: 5, :class => 'span5 form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, cols: 120, rows: 5, :class => 'form-control span5' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :address, cols: 120, rows: 2, :class => 'form-control span5' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address_for_geocoding, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :address_for_geocoding, cols: 120, rows: 2, :class => 'form-control span5' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :google_maps_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :google_maps_url, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'form-control span5' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :pdf, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :pdf %>
      </div>
      <% if f.object.pdf_url %>
        <%= f.label :remove_pdf, :class => "checkbox" do %>
          <%= f.check_box :remove_pdf %> Remove pdf
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :catalog, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :catalog %>
      </div>
      <% if f.object.catalog_url %>
        <%= f.label :remove_catalog, :class => "checkbox" do %>
          <%= f.check_box :remove_catalog %> Remove catalog
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :date, {}, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :start_time, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :start_time, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :published, :class => "checkbox" do %>
        <%= f.check_box :published %> Published
      <% end %>
    </div>
  </div>
</fieldset>
