<div class="page-header">
  <h1>Auctions</h1>
</div>

<div>
  <%= link_to "Add an auction", [:new, :admin, :auction], :class => 'btn btn-primary' %>
</div>

<% unless @auctions.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @auctions.each do |a| %>
        <tr>
          <td><%= a.title %></td>
          <td><%= l(a.date) %></td>
          <td>
            <%= link_to 'Manage', admin_auction_path(a), :class => 'btn btn-xs btn-default ' %>
            <%= link_to 'Edit', edit_admin_auction_path(a), :class => 'btn btn-xs btn-default ' %>
            <%= link_to 'Post', new_admin_auction_status_update_path(a), :class => 'btn btn-xs btn-default ' %>
            <%= link_to 'Destroy', admin_auction_path(a), :method => :delete,
              :data => {:confirm => "Are you sure?"}, :class => "btn btn-xs btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @auctions %>