<div class="page-header">
  <h1>Create an auction</h1>
</div>

<%= form_for [:admin, @auction] do |f| %>
  <%= render :partial => 'form', :locals => {f: f} %>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <%= link_to "Back", [:admin, :auctions], :class => "btn" %>
  </div>
<% end %>