<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'}) do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.email_field :email, :class => 'form-control input-lg' %>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'control-label' %>
    <%= f.password_field :password, :class => 'form-control input-lg' %>
  </div>

  <div class="form-group">
    <p><%= f.submit "Sign in", :class => "btn btn-primary" %></p>
  </div>
<% end %>

<%= render "links" %>