@import "footer/footer-png/*.png";

footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #fff;
    background: #7b8690 image-url('footer/bg.png') 0 0 repeat-x;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 40px;

    .footer-bg {
        background: image-url('footer/main-footer-farm-illustration.png') bottom left no-repeat;
        height: 355px;
    }

    div.hr {
        background: #3d454d;
        border: 0;
        height: 1px;
        display: block;
        border-bottom: 1px solid #767f88;
    }

    .left .padding {
        width: 220px;
        margin: 60px auto 0 auto;
        .name {
            margin-left: 12px;
            margin-bottom: 15px;
            width: 102px;
            height: 46px;
            display: inline-block;
            @include footer-png-sprite(encanteur-bilingue);
        }
        .photo {
            width: 69px;
            height: 77px;
            display: inline-block;
            @include footer-png-sprite(main-footer-daniel-paul-hus);
        }
    }

    .center .padding {
        width: 220px;
        margin: 60px auto 0 auto;
        ul {
            li {
                line-height: 2;
                margin: 0;
                padding: 0;
            }
            font-size: 17px;
            span {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                display: inline;
                font-weight: 400;
                width: 40px;
                float: left;
                text-align: center;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .right .padding {
        width: 220px;
        margin: 60px auto 0 auto;
    }
    input[type=submit], input[type=submit]:hover, input[type=submit]:active {
        width: 39px;
        height: 28px;
        background: image-url('footer/main-footer-send-button.jpg') 0 0 no-repeat;
        border: 0;
        text-indent: -9999px;
        display: inline;
    }
    input[type=email] {
        width: 150px;
        display: inline;
    }

    .footer-social h3 {
        text-indent: -9999px;
        height: 14px;
        width: 115px;
    }

    .footer-social h3.facebook {
        @include footer-png-sprite(main-footer-facebook);
    }

    .footer-social h3.twitter {
        @include footer-png-sprite(main-footer-twitter);
    }

    .footer-social h3.newsletter {
        @include footer-png-sprite(main-footer-newsletter);
    }
}