@import "header/social-icons/*.png";


header.header {
    padding-top: 42px;
    padding-bottom: 30px;
    .social-media-links {
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 0px;
        li {
            float: left;
            margin: 0 5px;
            text-indent: -9999px;
        }
        a {
            display: block;
            width: 31px;
            height: 40px;
        }
        a.mailchimp {
            @include social-icons-sprite(mail);
            &:hover {
                @include social-icons-sprite(mail-hover);
            }
        }
        a.facebook {
            @include social-icons-sprite(facebook);
            &:hover {
                @include social-icons-sprite(facebook-hover);
            }
        }
        a.twitter {
            @include social-icons-sprite(twitter);
            &:hover {
                @include social-icons-sprite(twitter-hover);
            }
        }
    }
}

header.header nav {
    text-align: right;
    padding-top: 23px;
}

header.header nav ul li {
    display: inline;
    margin: 0 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 18px;
    &.last {
        margin: 0 0 0 17px;
    }
    a {
        color: #414f5c;
        text-decoration: none;
    }
    a:hover {
        color: #c40f0f;
    }
}