.home-page {
    .slideshow {
        width: 940px;
        height: 400px;
    }

    h1 {
        margin-top: 18px;
        font-size: 45px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;

        a, a:hover, a:visited {
            color: #d71111;
            font-size: 17px;
            font-weight: 400;
        }

        span {
            font-size: 21px;
        }
    }

}