.item-box {
    height: 100%;
    width: 440px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);

    .links {
        width: 191px;
        float: left;
        .padding {
            width: 160px;
            margin: 20px auto 20px auto;
        }
    }

    .info {
        .padding {
            padding: 0;
            padding-right: 8px;
        }
        padding-left: 191px;
        padding-top: 20px;
        .time {
            background: image-url('main-encans-date-band.png') 0 0 no-repeat;
            width: 261px;
            height: 50px;
            color: #fff;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 21px;
            time {
                padding-left: 10px;
                padding-top: 10px;
                display: block;
            }
        }
        h1 {
            margin: 0;
            line-height: 24px;
            margin-bottom: 5px;
            a {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 22px;
                font-weight: normal;
                color: #4d6276;
                text-decoration: none;
                display: block;
            }
        }
        p {
            font-family: 'Myriad Pro', sans-serif;
            font-size: 14px;
        }
    }

    .quick-links {
        color: #808080;
        font-family: 'Myriad Pro', sans-serif;
        letter-spacing: -1px;
        font-size: 14px;
        line-height: 18px;
        a {
            color: #808080;
            text-decoration: none;
        }
        li {
            border-bottom: 1px solid #dddddd;
            margin-bottom: 5px;
            &:last-child {
                border-bottom: none;
            }
        }
        .icon-glass {
            padding-left: 20px;
            background: image-url('icns/main-icon-glass.png') center left no-repeat;
        }
        .icon-pdf {
            padding-left: 20px;
            background: image-url('icns/main-icon-pdf.png') center left no-repeat;
        }
        .icon-map {
            padding-left: 20px;
            background: image-url('icns/main-icon-map.png') center left no-repeat;
        }
    }
}

.item-box.ad-post .info h1 {
    margin-bottom: 15px;
}