
============================================================
Lettre d'information / <%= l(Date.today, :format => :long) %>
============================================================

<%= @newsletter.body %>

Prochains encans
================

<% unless @newsletter.auctions.empty? %>
<% @newsletter.auctions.order("date").each do |auction| %>
<%= l(auction.date, :format => :long) %>
<%= auction.title.html_safe %>
<%= auction.short_description.html_safe %>
<%= auction_url(auction.slug_with_id) %>
-----------------------------------------------
<% end %>
<% end %>

Babillard
===============

<% unless @newsletter.ad_posts.empty? %>
<% @newsletter.ad_posts.order("created_at DESC").each do |ad_post| %>
<%= ad_post.title.html_safe %>
<%= ad_post.short_description.html_safe %>
<%= auction_url(ad_post.slug_with_id) %>
-----------------------------------------------
<% end %>
<% end %>

============================================================
============================================================

Vous recevez cette newsletter parce que vous vous êtes
abonné sur http://www.paul-hus.com.

Pour vous désabonner, suivez le lien suivant:
*|UNSUB|*

Contactez-nous:

Daniel Paul-Hus
635 Papineau
Saint-Hyacinthe, Québec
J2S 7J5

450-773-5660
450-701-5660
daniel@paul-hus.com