<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>*|MC:SUBJECT|*</title>
    <style type="text/css">
      /* Client-specific Styles */
      #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
      body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
      body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

      /* Reset Styles */
      body{margin:0; padding:0;}
      img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
      table td{border-collapse:collapse;}
      #bodyTable{height:100% !important; margin:0; padding:0; width:100% !important;}

      /* Template Styles */

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PAGE /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Page
      * @section background color
      * @tip Set the background color for your email. You may want to choose one that matches your company's branding.
      * @theme page
      */
      body, #bodyTable{
        /*@editable*/ background-color:#DEE0E2;
      }

      a {
        color: #c40f0f;
      }

      .borderBar{
        background-image:url('http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/diagborder.png');
        background-position:top left;
        background-repeat:repeat;
        height:5px !important;
      }

      /**
      * @tab Page
      * @section heading 1
      * @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
      * @style heading 1
      */
      h1{
        /*@editable*/ color:#3F3A38;
        display:block;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:40px;
        /*@editable*/ font-weight:normal;
        /*@editable*/ line-height:100%;
        /*@editable*/ letter-spacing:normal;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Page
      * @section heading 2
      * @tip Set the styling for all second-level headings in your emails.
      * @style heading 2
      */
      h2{
        /*@editable*/ color:#000000;
        display:block;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:24px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        /*@editable*/ letter-spacing:normal;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Page
      * @section heading 3
      * @tip Set the styling for all third-level headings in your emails.
      * @style heading 3
      */
      h3{
        /*@editable*/ color:#000000;
        display:block;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:16px;
        /*@editable*/ font-weight:normal;
        /*@editable*/ line-height:100%;
        /*@editable*/ letter-spacing:normal;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Page
      * @section heading 4
      * @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
      * @style heading 4
      */
      h4{
        /*@editable*/ color:#3F3A38;
        display:block;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:12px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        /*@editable*/ letter-spacing:normal;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PREHEADER /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Header
      * @section preheader text
      * @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
      */
      .preheaderContent{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Helvetica;
        /*@editable*/ font-size:11px;
        /*@editable*/ line-height:125%;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Header
      * @section preheader link
      * @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
      */
      .preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#505050;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Header
      * @section header style
      * @tip Set the background color and top border for your email's header area.
      * @theme header
      */
      #templateHeader{
        /*@editable*/ background-color:#FFFFFF;
        /*@editable*/ border-top:10px solid #c40f0f;
      }

      /**
      * @tab Header
      * @section header text
      * @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
      */
      .headerContent{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Helvetica;
        /*@editable*/ font-size:18px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        /*@editable*/ padding-top:20px;
        /*@editable*/ padding-right:40px;
        /*@editable*/ padding-bottom:20px;
        /*@editable*/ padding-left:40px;
        /*@editable*/ text-align:left;
        /*@editable*/ vertical-align:middle;
      }

      /**
      * @tab Header
      * @section header link
      * @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
      */
      .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#505050;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      #headerImage{
        height:auto;
        max-width:600px !important;
      }

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Body
      * @section body style
      * @tip Set the background color for your email's body area.
      */
      #templateBody{
        /*@editable*/ background-color:#FFFFFF;
      }

      /**
      * @tab Body
      * @section body text
      * @tip Set the styling for your email's upper main content text. Choose a size and color that is easy to read.
      * @theme main
      */
      .upperBodyContent{
        /*@editable*/ color:#43404D;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:16px;
        /*@editable*/ line-height:150%;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Body
      * @section upper body link
      * @tip Set the styling for your email's upper main content links. Choose a color that helps them stand out from your text.
      */
      .upperBodyContent a:link, .upperBodyContent a:visited, /* Yahoo! Mail Override */ .upperBodyContent a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#c40f0f;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:none;
      }

      /**
      * @tab Body
      * @section lower body text
      * @tip Set the styling for your email's lower main content text. Choose a size and color that is easy to read.
      */
      .lowerBodyContent{
        /*@editable*/ color:#43404D;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:14px;
        /*@editable*/ line-height:125%;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Body
      * @section lower body link
      * @tip Set the styling for your email's lower main content links. Choose a color that helps them stand out from your text.
      */
      .lowerBodyContent a:link, .lowerBodyContent a:visited, /* Yahoo! Mail Override */ .lowerBodyContent a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#c40f0f;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:none;
      }

      .bodyContent img{
        display:inline;
        height:auto;
      }

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Footer
      * @section footer style
      * @tip Set the background color and borders for your email's footer area.
      * @theme footer
      */
      #templateFooter{
        /*@editable*/ background-color:#FFFFFF;
        /*@editable*/ border-bottom:10px solid #C40F0F;
      }

      /**
      * @tab Footer
      * @section footer text
      * @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
      * @theme footer
      */
      .footerContent{
        /*@editable*/ color:#3F3A38;
        /*@editable*/ font-family:Georgia;
        /*@editable*/ font-size:12px;
        /*@editable*/ line-height:150%;
        /*@editable*/ text-align:center;
      }

      /**
      * @tab Footer
      * @section footer link
      * @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
      */
      .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#EB4102;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:none;
      }

      .footerContent img{
        display:inline;
      }

      #monkeyRewards img{
        max-width:190px;
      }
    </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <center>
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
              <tr>
                  <td align="center" valign="top" style="padding-bottom:40px;">
                      <!-- // BEGIN CONTAINER -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                          <tr>
                              <td align="center" valign="top" style="padding-bottom:20px;">
                                    <!-- // BEGIN PREHEADER -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
                                        <tr>
                                            <td align="center" valign="top" style="padding-top:10px; padding-bottom:10px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="preheaderContent" mc:edit="preheader_content">
                                                            Nos encans à venir ainsi que des items à vendre sur notre babillard.
                                                        </td>
                                                        <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                                                        <td width="20">
                                                            <br />
                                                        </td>
                                                        <td valign="top" width="200" class="preheaderContent" mc:edit="preheader_links">
                                                            Ce courriel ne s'affiche pas correctement?<br /><a href="*|ARCHIVE|*" target="_blank">Voir dans votre fureteur</a>.
                                                        </td>
                                                        <!-- *|END:IF|* -->
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END PREHEADER \\ -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                  <!-- // BEGIN HEADER -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                      <tr>
                                          <td align="center" valign="top" style="padding-top:0px; padding-bottom:0px;">
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="headerContent">
                                                          <%= image_tag "newsletter/header.png" %>
                                                        </td>
                                                    </tr>
                                                  <tr>
                                                        <td class="headerContent" mc:edit="header_content">
                                                          <h1>Lettre d'information</h1>
                                                            <h3><em><%= l(Date.today, :format => :long) %></em></h3>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END HEADER \\ -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                  <!-- // BEGIN BODY -->
                                  <table border="0" cellpadding="40" cellspacing="0" width="600" id="templateBody">
                                      <tr>
                                          <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                        <td valign="top" class="upperBodyContent" mc:edit="body_content01">
                                                          <%= markdown(@newsletter.body) %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                      <td align="center" valign="top" style="padding-top:40px;">
                                                        <% unless @newsletter.auctions.empty? %>
                                                          <h2>Encans à venir</h2>
                                                          <table style="padding-bottom: 20px">
                                                            <% @newsletter.auctions.order("date").each do |auction| %>
                                                            <tr>
                                                              <td style="padding-top: 20px" valign="top">
                                                                <% if !auction.image.blank? %>
                                                                  <a href="<%=auction_url(auction.slug_with_id)%>">
                                                                  <%= image_tag auction.image.url(:thumb), :class => "scale-with-grid", :width => 160, :height => 120 %>
                                                                  </a>
                                                                <% else %>
                                                                  <a href="<%=auction_url(auction.slug_with_id)%>">
                                                                  <%= image_tag 'home/main-encans-babillard-thumbnails-pas-disponible.jpg', :class => "scale-with-grid", :width => 160, :height => 120 %>
                                                                  </a>
                                                                <% end %>
                                                              </td>
                                                              <td style="padding-top: 20px; padding-left: 10px" valign="top">
                                                                <div class="auction">
                                                                  <h3><%= l(auction.date, :format => :long) %></h3>
                                                                  <h4><%= link_to auction.title, auction_url(auction.slug_with_id) %></h4>
                                                                  <span class="location"><%= auction.address %></span>
                                                                  <p><%= auction.short_description %></p>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                            <% end %>
                                                          </table>
                                                        <% end %>

                                                        <% unless @newsletter.ad_posts.empty? %>
                                                          <h2>Babillard</h2>
                                                          <table>
                                                            <% @newsletter.ad_posts.order("created_at DESC").each do |ad_post| %>
                                                            <tr>
                                                              <td style="padding-top: 20px" valign="top">
                                                                <a href="<%=ad_post_url(ad_post.slug_with_id)%>">
                                                                <% if !ad_post.image.blank? %>
                                                                  <%= image_tag ad_post.image.url(:thumb), :class => "scale-with-grid", :width => 160, :height => 120 %>
                                                                <% else %>
                                                                  <%= image_tag 'home/main-encans-babillard-thumbnails-pas-disponible.jpg', :class => "scale-with-grid", :width => 160, :height => 120 %>
                                                                <% end %>
                                                                </a>
                                                                </a>
                                                              </td>
                                                              <td style="padding-top: 20px" valign="top">
                                                                <div class="ad_post">
                                                                  <span class="h3"><%= link_to ad_post.title, ad_post_url(ad_post.slug_with_id) %></span>
                                                                  <p><%= ad_post.short_description %></p>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                            <% end %>
                                                          </table>
                                                        <% end %>
                                                      </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END BODY \\ -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                  <!-- // BEGIN FOOTER -->
                                  <table border="0" cellpadding="20" cellspacing="0" width="600" id="templateFooter">
                                      <tr>
                                          <td align="center" valign="top" style="padding-right:40px; padding-left:40px;">
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                      <td valign="top" class="footerContent" style="border-top:1px solid #BBBBBB; border-bottom:1px solid #BBBBBB; padding-top:20px; padding-bottom:20px;" mc:edit="footer_social">
                                                          <a href="http://twitter.com/encanteur">Suivez-nous sur Twitter</a> | <a href="*http://www.facebook.com/pages/Daniel-Paul-Hus-Encanteur-Bilingue/102331406521939">Aimez-nous sur Facebook</a> | <a href="*|FORWARD|*">Envoyer à un ami</a>&nbsp;
                                                        </td>
                                                    </tr>
                                                  <tr>
                                                        <td valign="top" class="footerContent" style="padding-top:20px;" mc:edit="footer_content">
                                                            <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, Tous droits réservés.</em>
                                                            <br />
                                                            *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
                                                            <br />
                                                            <br />
                                                            <strong>Notre adresse postale :</strong>
                                                            <br />
                                                            *|HTML:LIST_ADDRESS_HTML|*
                                                            <br />
                                                            *|END:IF|*
                                                            <br />
                                                          *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                      <td valign="top" class="footerContent" style="padding-top:20px;" mc:edit="footer_utility">
                                                          <a href="*|UNSUB|*">désinscription de la liste d'envoi</a> | <a href="*|UPDATE_PROFILE|*">mettre à jour vos préférences</a>&nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END FOOTER \\ -->
                                </td>
                            </tr>
                        </table>
                        <!-- END CONTAINER \\ -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>