<fieldset>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :slug, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :short_description, cols: 120, rows: 5, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, cols: 120, rows: 5, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :published, :class => "checkbox" do %>
      <%= f.check_box :published %> Published
    <% end %>
  </div>
</fieldset>
