<div class="page-header">
  <h1><%= @ad.title %></h1>
</div>

<%= form_tag admin_images_path, multipart: true do %>
  <div class="form-group">
    <%= label_tag 'images[]', 'Photos', :class => 'control-label' %>
    <%= file_field_tag 'images[]', multiple: true, :class => 'form-control' %>
    <%= hidden_field_tag 'parent_type', 'AdPost' %>
    <%= hidden_field_tag 'parent_id', @ad.id %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
<% end %>

<% unless @ad.images.empty? %>
  <table class="table" data-update-url="<%= sort_admin_images_path %>">
    <thead>
      <tr>
        <th>Image</th>
        <th>Caption</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ad.images.each do |image| %>
      <tr id="image_<%= image.id %>">
        <td><%= image_tag image.file.url(:small_square) %></td>
        <td>
          <span class="rest-in-place" data-url="<%= admin_image_path(image.id) %>" data-object="image" data-attribute="caption">
            <% if !image.caption.empty? %>
              <%= image.caption %>
            <% else %>
              Click here to set a caption.
            <% end %>
          </span>
        </td>
        <td>
          <%= link_to 'Destroy', admin_image_path(image), :method => :delete,
            :data => {:confirm => "Are you sure?"}, :class => "btn btn-xs btn-danger" %>
          <a class="move btn btn-xs btn-default">
            <span class="glyphicon glyphicon-move"></span> move
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
  $('table.table').sortable({
    axis: 'y',
    items: "tbody tr",
    handle: ".move",
    forcePlaceholderSize: true,
    helper: function(e, tr) {
      var $originals = tr.children();
      var $helper = tr.clone();
      $helper.children().each(function(index) {
        // Set helper cell sizes to match the original sizes
        $(this).width($originals.eq(index).width())
      });
      return $helper;
    },
    update: function() {
      $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});
</script>
<% end %>