<% page_title "À propos" %>
<% content_for(:body_classes) { 'about-page' } %>
<% page_description "Description de l'historique de notre entreprise, de notre équipe et des services que nous offrons." %>
<% content_for :open_graph do %>
  <meta property="og:url" content="<%= about_url %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="À propos"/>
  <meta property="og:site_name" content="Encans Daniel Paul-Hus"/>
  <meta property="og:description" content="Description de l'historique de notre entreprise, de notre équipe et des services que nous offrons." />
  <meta property="og:image" content="<%= "http://#{request.host}#{image_path('star.png')}" %>"/>
<% end %>

<h1>À propos</h1>

<div class="ten columns alpha clearfix">
  <div class="box clearfix no-top-padding">

    <div id="about_slideshow">
      <%= image_tag 'about/gallery/equipe1.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe2.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe3.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe4.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe5.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe6.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe7.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe9.jpg', width: 580, height: 387 %>
      <%= image_tag 'about/gallery/equipe10.jpg', width: 580, height: 387 %>
    </div>

    <div class="eight columns offset-by-one">
      <h2>Historique de l'entreprise</h2>

      <p>
        Ma carrière a débuté le 26 avril 1973 à St-Clément de Rivière du Loup. C’est à ce jour précis que j’ai eu la certitude que j’allais devenir encanteur de profession , peu importe le défi que cela pouvait représenter pour un jeune homme de 21 ans.
      </p>

      <p>
        Pour être reconnu dans le milieu des encans, j’ai immédiatement adopté un fétiche, une marque distinctive, le chapeau de cow-boy.  Celui-ci est devenu le signal pour indiquer le début de chaque vente à l’encan.
      </p>

      <p>
        Après plusieurs décennies, c’est toujours avec plaisir que je parcours le Québec, et même l’est et le nord de l’Ontario, pour offrir à nos clients potentiels une consultation précise. Cette rencontre fixe les objectifs pouvant être atteints à l’issue d’une vente aux enchères bien préparée.
      </p>

      <p>
        À la veille de mon 3000e  encan en carrière, je ne peux oublier de mentionner l’expertise de mon épouse Monique Fontaine au secrétariat et celle de mes précieux collaborateurs au déroulement, grâce à qui nos clients satisfaits continuent de dire : « Nous vous recommanderons à nos amis ».
      </p>

      <p>
        Nous sommes heureux de vous compter parmi notre clientèle et apprécions votre fidélité.
      </p>

      <%= image_tag 'about/about-signature.png', :alt => "Daniel Paul-Hus", :class => "signature" %>
    </div>
  </div>
</div>

<div class="five colums offset-by-eleven clearfix">
  <div class="services">
    <h2>Nos services</h2>

    <ul>
      <li>Publicités sur notre site web, notre compte Facebook et Twitter ainsi que sur quelques autres sites spécialisés.</li>
      <li>Publicité via notre infolettre envoyée régulièrement.</li>
      <li>Catalogue en ligne.</li>
      <li>Média poste.</li>
      <li>Préparation d'animaux et de machineries.</li>
      <li>Service de pointeurs.</li>
      <li>Service de secrétariat.</li>
      <li>Service de cantine.</li>
    </ul>
  </div>
</div>

<div class="sixteen columns alpha clearfix">
  <div class="team">
    <div class="sixteen columns alpha offset-by-one">
      <h2>Notre équipe</h2>
    </div>
    <div class="four columns offset-by-one alpha">
      <h3>Pointeurs</h3>
      <ul>
        <li>Daniel Garneau</li>
        <li>Pierre Marcoux</li>
        <li>Éric Clouâtre</li>
      </ul>
    </div>
    <div class="four columns offset-by-one">
      <h3>Secrétariat</h3>
      <ul>
        <li>Monique Fontaine</li>
        <li>Nicole Brunelle</li>
        <li>Florence Moreau</li>
        <li>Caroline Poissant</li>
        <li>Amélie Labonté</li>
      </ul>
    </div>
    <div class="four columns offset-by-one omega">
      <h3>Préparation d'animaux</h3>
      <ul>
        <li>
          <strong>Service TRIMPLUS inc.</strong><br/>
          Daniel Pepin, Warwick<br/>
          819-358-6662
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="sixteen columns clearfix">
  <hr class="hr"/>
</div>

<%= render :partial=> 'partials/newsletter_promo' %>

<% content_for :javascripts do %>
  <script>
  $(function() {
    $('#about_slideshow').orbit({ timer: true, advanceSpeed: 6000 });
  });
  </script>
<% end %>