@import 'skeleton/base';
@import 'skeleton/skeleton';
@import 'skeleton/layout';
@import "auctions/auction-png/*.png";

html, body {
    background: image-url("main-background-pattern.jpg");
    color: #616161;
}

div.orbit-wrapper div.slider-nav span.right {
    background: image-url('orbit/homepage-slider-right-arrow.jpg') top left no-repeat;
}

div.orbit-wrapper div.slider-nav span.left {
    background: image-url('orbit/homepage-slider-left-arrow.jpg') top left no-repeat;
}

div.orbit-wrapper div.timer {
    display: none;
}

.lt-ie9 div.orbit-wrapper div.slider-nav span.right { background: image-url('orbit/homepage-slider-right-arrow-small.jpg'); }
.lt-ie9 div.orbit-wrapper div.slider-nav span.left { background: image-url('orbit/homepage-slider-left-arrow-small.jpg'); }

.orbit-caption a {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', 'Myriad Pro', sans-serif;
    font-weight: 200;
    color: #2C2A2A;
}

h1 {
    margin-bottom: 45px;
}

hr.hr {
    color: #cecece;
    background: #cecece;
    height: 1px;
    border: 0;
    margin: 0;
    margin: 15px 0 0 0;
}

.field_with_errors input, .field_with_errors textarea {
    border: 1px solid red;
}

.field_with_errors {
    color: red;
}

.special-message {
    margin: 0 0 1em 0;
    color: #d71111;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}

.newsletter-promo {
    font-size: 27px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color: '#3e4b57';
    line-height: 28px;
    margin-bottom: 40px;
    margin-top: 40px;
    a {
        font-weight: 400;
        color: '#3e4b57';
    }
    p {
        background: image-url('home/main-icon-subscribe.png') 54px 3px no-repeat;
        padding-left: 160px;
        margin: 0;
    }
}

.box {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    padding: 25px 0;
}

.no-top-padding {
    padding-top: 0;
}

.downloads {
    a {
        text-decoration: none;
        display: block;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        height: 31px;
        padding-left: 38px;
        padding-top: 6px;
        font-weight: bold;
    }
    li {
        display: block;
        width: 280px;
        height: 31px;
    }
    li.catalogue {
        @include auction-png-sprite(download-link-catalogue);
    }
    li.circulaire {
        @include auction-png-sprite(download-link-circulaire);
    }
}

#slider { background: #fff image-url('ajax-loader.gif') center center no-repeat; height: 370px; }
#slider img { display: none; }

#slider.orbit { background: none; }
#slider.orbit img { display: block; }

table.auction-info {
    font-family: 'Source Sans Pro', sans-serif;
    tr {
        border-bottom: 1px solid #dddddd;
        padding: 10px 0;
        display: block;
    }
    tr:last-child {
        border-bottom: none;
    }
    th {
        color: #c40f0f;
        font-weight: bold;
        font-size: 19px;
        text-align: left;
        width: 85px;
    }
    td {
        font-size: 19px;
    }
}

header {
    h1 {
        margin-bottom: 0;
    }
    span.star {
        font-size: 500%;
        margin-top: 30px;
        color: #000;
    }
    p {
        font-size: 125%;
    }
}

article {
    padding: 10px;
    background: #fff;
    margin: 40px 0;
    h1 {
        font-size: 35px;
        line-height: 40px;
        a {
            text-decoration: none;
            -webkit-transition: color .10s linear;
            transition: color .10s linear;
            &:hover {
                -webkit-transition: color 1s linear;
                transition: color 1s linear;
                color: #555;
            }
        }
    }
    .date {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 100%;
    }
    .address {

    }
}
