<div class="page-header">
  <h1>Update a newsletter</h1>
</div>

<%= form_for [:admin, @newsletter] do |f| %>
  <%= render :partial => 'form', :locals => {f: f} %>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <%= link_to "Back", [:admin, :newsletters], :class => "btn" %>
  </div>
<% end %>