<div class="page-header">
  <h1>Newsletters</h1>
</div>

<div>
  <%= link_to "Add a newsletter", [:new, :admin, :newsletter], :class => 'btn btn-primary' %>
</div>

<% unless @newsletters.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @newsletters.each do |n| %>
        <tr>
          <td><%= n.id %></td>
          <td>
            <%= link_to 'Manage', admin_newsletter_path(n), :class => 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_admin_newsletter_path(n), :class => 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', admin_newsletter_path(n), :method => :delete,
              :data => {:confirm => "Are you sure?"}, :class => "btn btn-xs btn-danger" %>
            <%= link_to 'Mail', mail_admin_newsletter_path(n), :method => :post,
              :data => {:confirm => "Are you sure?"}, :class => "btn btn-xs btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>