<%= form_for [:admin, @newsletter] do |f| %>
  <fieldset>
    <legend>Auctions</legend>

    <% Auction.upcoming.each do |auction| %>
      <div>
        <%= check_box_tag 'newsletter[auction_ids][]', auction.id, @newsletter.auctions.include?(auction) %>
        <%= auction.title %> <%= l(auction.date) %>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Posts</legend>
    <% AdPost.all.each do |post| %>
      <div>
        <%= check_box_tag 'newsletter[ad_post_ids][]', post.id, @newsletter.ad_posts.include?(post) %>
        <%= post.title %>
      </div>
    <% end %>
  </fieldset>

  <div class="form-actions">
    <%= link_to "Cancel", admin_newsletters_path, :class => "btn" %>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
<% end %>