<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <%= page_title %>
  <% if content_for? :page_description %>
    <meta name="description" content="<%= yield :page_description %>">
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <%= yield :open_graph %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic|Merriweather:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "head" %>

  <%= render :partial => 'partials/google_analytics' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :body_classes %>">

  <div class="container">
    <header class="header sixteen columns">
      <ul class="social-media-links">
        <li><%= link_to "Mailchimp", "http://eepurl.com/kxdA9", :class => 'mailchimp', :title => 'Newsletter' %></li>
        <li><%= link_to "Facebook", "http://www.facebook.com/pages/Daniel-Paul-Hus-Encanteur-Bilingue/102331406521939", :class => 'facebook', :title => 'Facebook' %></li>
        <li><%= link_to "Twitter", "http://twitter.com/encanteur", :class => 'twitter', :title => 'Twitter' %></li>
      </ul>
      <div class="six columns alpha">
        <%= link_to root_path do %>
          <%= image_tag 'header/main-logo-daniel-paul-hus.png' %>
        <% end %>
      </div>
      <div class="ten columns omega">
        <nav>
          <ul>
            <li><%= link_to 'Accueil', root_path %></li>
            <li><%= link_to 'Encans', auctions_path %></li>
            <li><%= link_to 'Babillard', ad_posts_path %></li>
            <li><%= link_to 'À&nbsp;propos'.html_safe, about_path %></li>
            <li class="last"><%= link_to 'Nous contacter', new_contact_message_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <div class="sixteen columns">
      <footer>
        <div class="footer-bg clearfix">
          <div class="left one-third column alpha">
            <div class="padding">
              <span class="photo"></span>
              <span class="name"></span>
              <p>Ce sera un privilège de vous offrir une consultation qui vous fera bénéficier de mon expérience et apprécier la gamme de mes services pouvant s'adapter à votre vente.</p>
            </div>
          </div>
          <div class="center one-third column">
            <div class="padding">
              <ul>
                <li>
                  <span>tel</span> (450) 773-5660
                  <div class="hr"></div>
                </li>
                <li>
                  <span>cel</span> (450) 701-5660
                  <div class="hr"></div>
                </li>
                <li>
                  <span>fax</span> (450) 773-3744
                  <div class="hr"></div>
                </li>
                <li>
                  <span>@</span> <%= mail_to "daniel@paul-hus.com", "daniel@paul-hus.com", :encode => "javascript" %>
                  <div class="hr"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="right one-third column omega">
            <div class="padding">
              <ul class="footer-social">
                <li>
                  <h3 class="facebook">Facebook</h3>
                  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDaniel-Paul-Hus-Encanteur-Bilingue%2F102331406521939&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=109601239124038" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
                </li>
                <li>
                  <h3 class="twitter">Twitter</h3>
                  <a href="https://twitter.com/encanteur" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-dnt="true">Suivre @encanteur</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li>
                  <h3 class="newsletter">Info-lettre</h3>
                  <form action="http://paul-hus.us4.list-manage.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="936ebbc959f11019870504834">
                    <input type="hidden" name="id" value="159924ed0d">
                    <input type="email" name="MERGE0" placeholder="Votre email"/>
                    <input type="submit" />
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div class="copyrights">
        <p>&copy; Site web conçu et maintenu par <a href="http://patrick.paul-hus.com">Patrick Paul-Hus</a>. Design par <a href="http://www.babooncreation.com">Baboon</a>.</p>
      </div>
    </div>
  </div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>

</body>
</html>
